#menu-vertical, #menu-vertical li {
  padding:0;
  margin:0;
  list-style:none;
    width: 80px;

  
}
#menu-vertical li {
<<<<<<< HEAD
    font-family: Arial;
    color: #708090;
=======
    font-family: Arial color: #708090;
>>>>>>> 1628a96961244f7bb2348e49a4b0114fd10efc24
    
    position: relative;
    background: #fff;
    padding: 5px;
    margin-right: 2px;
    margin-bottom: 2px ;
    font-size: 15px;
    border-radius: 10px;
    list-style-position:inside;
    list-style-image: none;
    border: 2px #708090 solid;
<<<<<<< HEAD
    display: inline-block;
    
}
#menu-vertical a {
  display:inline-block;
=======
    
}
#menu-vertical a {
  display:block;
>>>>>>> 1628a96961244f7bb2348e49a4b0114fd10efc24
  text-decoration: none;
  color: #000;
}
#menu-vertical ul {
  position: absolute;
  left:-999em;
}
#menu-vertical li:hover ul {
    
  position: absolute;
  top: 0;
<<<<<<< HEAD
  left: 90px;
=======
  left: 56px;
>>>>>>> 1628a96961244f7bb2348e49a4b0114fd10efc24
}
